body{
    background-color: #242424;
}


/*header*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #222222;
}

header{
    background-color: #151515;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: rgb(250, 253, 255);
    margin-left: 15px;
    
}

.buscador input{
    padding: 5px 5px;
    margin-right: 0;
    outline: none;
    border: none;
}


.navegacion ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.navegacion ul li {
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    
    
}
.navegacion ul li a{
    text-decoration: none;
    color: rgb(163, 190, 207);
}










/*main*/


.logoCarrito{
    font-size: 90px;
    color: rgb(161, 192, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.flex{
    display: flex;
    align-items:center;
    justify-content:space-around;
    border: solid 2px white;
    background-color: aliceblue;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    font-size: 20px;
    
}

#listaProductos{
    margin-bottom: 20px;
}
.contenedor{
    margin-top: 10px;
}

.logoBorrar{
    
    color: #ff0000;
    padding: 10px;
}

/*detalle de compra*/
.detalleCompra{
    background-color: aliceblue;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90px;

}

.botonDetalle{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0b700b;
    color: #ffffff;
    margin: 20px;
}