body{
    background-color:#61c9f7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}




/*header*/

header{
    
    background-color: #303030;
    height: 90px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;

}

.contenedorLogoAux{
    display: none;
}

.logo{
    
    width: 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(250, 253, 255);
    margin-left: 15px;
    
}

.desabilitar{
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

.buscador input{
    padding: 5px 5px;
    margin-right: 0;
    outline: none;
    border: none;
}



.navegacion ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.navegacion ul li {
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Average Sans', sans-serif;
    font-size: 20px;
    
    
}
.navegacion ul li a{
    text-decoration: none;
    color: #F7F9F8;
}










/*main*/


.logoCarrito{
    font-size: 90px;
    color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.imagenCard{
    width: 100px;
}


.flex{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    background-color: #edf5f8;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

    
    
}

.flex i{
    color: #bd1515;
}

#listaProductos{

   margin-bottom: 20px;
   height: 300px;
   overflow-y:auto;
   margin-left: 10px;
   margin-right: 10px;
   
}
.contenedor{
    margin-top: 10px;
}

.logoBorrar{
    
    color: #ff0000;
    padding: 10px;
}

#total{
    font-weight:800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/*detalle de compra*/
.detalleCompra{
    background-color: #61c9f7;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90px;

}

.botonDetalle{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    margin: 20px;
    border-radius: 3px;
}

.borrar{

    text-decoration: none;
    padding: 9px 10px;
    background-color: #d12525;
    color: #ffffff;
    margin: 20px;
    border-radius: 3px;

}

.banner{
    display: none;
    background-color: #303030;
    padding: 10px;
    border-radius:  0 0 20% 20%;
    position: relative;
    left: 420px;
    top: 80px;
    
   
}

.banner a{
    text-decoration: none;
    color: #b6cedd;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/*responsive*/

@media only screen and (max-width:450px){

    .contenedorLogo{
        display: none;
    }

    .contenedorLogoAux{
        display: inline-block;
    }

    .contenedorLogoAux h1{
        font-size: 25px;
    }

    .detalleCompra{
        flex-direction: column;
    }
    .contenedorBotones{
        margin-top: 30px;
    }

    .banner{
       
        left: 90px;
        top: 30px;
        
    }
}

@media only screen and (max-width:280px){

    .imagenCard{
        width: 80px;
    }

    .nombreItem{
        font-size: 15px;
    }

    .precioItem{
        font-size: 15px;
    }

    .cant{
        font-size: 15px;
    }

    .banner{
       
        left: 50px;
        top: 30px;
        
    }
}