
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #61c9f7;
    
    
}

header{
    background-color: #303030;
    height: 90px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

.logo{
    width: 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(250, 253, 255);
    margin-left: 15px;
    
}

.contenedorLogoAux{
    display: none;
}

.buscador{
    position: absolute;
    
}

#busqueda{
    outline: none;
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    
    position: absolute;
    left: 370px;
    top:-10px;
    
}


.buscador i{
    display: inline;
    padding: 4px;
    padding-bottom: 6px;
    color: rgb(6, 10, 17);
    position: absolute;
    left: 595px;
    top: -6px; 
    cursor: pointer;
    
}

.buscador i:hover{
    color: #53b3ff;
}


.navegacion ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.navegacion ul li {
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Average Sans', sans-serif;
    font-size: 20px;
    
    
}
.navegacion ul li a{
    text-decoration: none;
    color: #F7F9F8;
}

.logoCarrito{
    width: 30px;
    display: inline-block;
    text-decoration: none;
    position: absolute;
}
.cantProducto{
    position: relative;
    top: -15px;
    right: -11px;
    color: #f6f6f6;
    border-radius: 50%;
    font-size: 17px;
    
}

/*barra productos*/


.barraProductos{
    background-color: #303030;
    width: 100%;
    height: 50px;
    border-top: solid 0.1px rgb(129, 178, 219);
    font-family: 'Average Sans', sans-serif;
    font-size: 15px;
}

.listaProductos{
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    align-items:center;
    height: 100%;
        
}

.listaProductos li a{
    text-decoration: none;
    font-size: 18px;
    color: #DCDCDC;
    
}

.listaProductos a:hover{
    color: rgb(129, 178, 219);
}

.botonAbrirMenu{
    padding: 10px 20px;
    background-color: #61c9f7;
    color: #DCDCDC;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    display: none;
    cursor: pointer;

}

.cerrarMenu{
    display: none;
}


/*main*/

.ordena{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 40px;
    margin-left: 39px;
    
}



.combo{
    padding: 10px 20px;
    background-color: #53b3ff;
    color: aliceblue;
    font-size: 17px;
    border-style: none;
    outline: none;
}

#seccionArticulos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    place-items: center;
    margin-top: 40px;
    
}


.card{
    background-color: #363636;
    width: 250px;
    height: 350px;
    border-radius: 8px;
    
}

.card .imagenCard{
    width: 200px;
    margin: 10px 25px;
    border-radius: 5px;
    
}

.card .contenedorDescripcion{
    margin: 5px 20px;
    color: #F7F9F8;
    
}

.contenedorDescripcion .precioCard{
    margin-top: 5px;
    font-size: 20px;
}

.contenedorDescripcion .nombreCard{
    font-size: 20px;
}

.botonCard{
    margin-top: 27px;
    margin-left: 25px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #53b3ff;
    color: #DCDCDC;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
    
}

.linea{
    border-color: rgb(143, 187, 238)
}


.footer{
    margin-top: 70px;
    background-color: #151515;
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.pagos img{
    width: 250px;
}

.pagos p{
    color: #DCDCDC;
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 5px;
}


.redes{
    list-style: none;
    margin-left: 20px;
    display: flex;
}

.redes li{
    text-decoration: none;
    margin-right: 15px;
    font-size: 40px;
}

.redes li a{
    color: #DCDCDC;
}

.redes li a:hover{
    color: #61c9f7;
}

/*-----------------------------responsive--------------------*/




@media only screen and (max-width:450px){

        
        .logo{
            font-size: 20px;
        }
    
        .navegacion ul li{
            font-size: 18px;
        }
    
        .logoCarrito{
            width: 25px;
        }

        .contenedorLogo{
            display: none;
        }
    
        .contenedorLogoAux{
            display: inline-block;
        }

        .contenedorLogoAux h1{
            font-size: 25px;
        }
    
        
        .listaProductos {
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: none;
            background-color: #151515;
            font-size: 40px;
            z-index: 30;
        }
    
        .botonAbrirMenu{
            display: block;
        }
        .cerrarMenu{
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 40px;
            color: #DCDCDC;
            cursor: pointer;
        }
    
        #seccionArticulos{
           
            grid-template-columns: 1fr;
        
        }
    
        .ordena{
            align-items: center;
        }
    
        .cantProducto{
            right: -8px;
        }
    
        
    

        
        #busqueda{
            width: 150px;
            height: 30px;
            left: 150px;
            top:54px;
            
        }
        
        
        #lupa{
            position: absolute;
            top: 55px;
            left: 275px;   
        }
        .cantProducto{
            font-size: 15px;
            top: -11px;
            right: -10px;
        }
        
        .pagos img{
            width: 120px;
        }
    
    
}




@media only screen and (max-width:280px){

   
    #busqueda{
       
        width: 120px;
        height: 30px;
        left: 140px;
        top:54px;
        
    }
    
    
    #lupa{
        position: absolute;
        top: 55px;
        left: 235px;   
    }

    .pagos img{
        width: 100px;
    }

    .redes{
        margin-left: 5px;
       
    }
    
    .redes li{
        font-size: 25px;
    }


}

