
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    /*background-color: #222222;*/
    background-color: #21242a;
    
}

header{
    background-color: #151515;
    height: 90px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    width: 20px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Gilda Display', serif;
    font-size: 20px;
    color: rgb(250, 253, 255);
    margin-left: 15px;
    
}

.contenedorLogoAux{
    display: none;
}

.buscador{
    position: relative;
}

.buscador input{
    outline: none;
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    margin-left: 120px;
    padding-left: 10px;
    

}
.buscador i{
    
    display: inline-block;
    padding: 4px;
    padding-bottom: 6px;
    color: rgb(6, 10, 17);
    position: absolute;
    left: 93%;
    top: 2px; 
    
}



.navegacion ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.navegacion ul li {
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Gilda Display', serif;
    font-size: 20px;
    
    
}
.navegacion ul li a{
    text-decoration: none;
    color: rgb(199, 220, 233);
}

.logoCarrito{
    width: 30px;
    display: inline-block;
    text-decoration: none;
    
    
}

/*barra productos*/


.barraProductos{
    background-color: #151515;
    width: 100%;
    height: 50px;
    border-top: solid 0.1px rgb(129, 178, 219);
}

.listaProductos{
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    align-items:center;
    height: 100%;
    
}

.listaProductos li a{
    text-decoration: none;
    font-size: 20px;
    color: #DCDCDC;
}

.listaProductos a:hover{
    color: #87a4d6;
}

.botonAbrirMenu{
    padding: 10px 20px;
    background-color: #187f99;
    color: #DCDCDC;
    border-style: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
    display: none;
    cursor: pointer;

}

.cerrarMenu{
    display: none;
}


/*main*/

.ordena{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 40px;
    margin-left: 39px;
    
}



.combo{
    padding: 10px 20px;
    background-color: #587ebe;
    color: aliceblue;
    font-size: 17px;
    border-style: none;
    outline: none;
}

#seccionArticulos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    place-items: center;
    margin-top: 40px;
    
}
.card{
    background-color: #DCDCDC;
    width: 250px;
    height: 350px;
    border-radius: 8px;
}

.card .imagenCard{
    width: 200px;
    margin: 10px 25px;
    border-radius: 5px;
    
}

.card .contenedorDescripcion{
    margin: 5px 20px;
}

.botonCard{
    margin: 20px 10px 10px 60px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #078f07;
    color: #DCDCDC;
    font-size: 20px;
    
}

.linea{
    border-color: white
}


.footer{
    margin-top: 70px;
    background-color: #151515;
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.pagos img{
    width: 250px;
}

.pagos p{
    color: #DCDCDC;
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 5px;
}


.redes{
    list-style: none;
    margin-left: 20px;
    display: flex;
}

.redes li{
    text-decoration: none;
    margin-right: 15px;
    font-size: 40px;
}

.redes li a{
    color: #DCDCDC;
}

.redes li a:hover{
    color: #587ebe;
}

/*responsive*/

@media only screen and (max-width: 800px) {
   

    .header{
        width: 100%;
    }

    .logo{
        font-size: 20px;
    }


    

    .navegacion ul li{
        font-size: 15px;
    }

    .logoCarrito{
        width: 20px;
    }

    .listaProductos {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        background-color: #187f99;
        font-size: 40px;
    }

    .botonAbrirMenu{
        display: block;
    }
    .cerrarMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        color: #DCDCDC;
        cursor: pointer;
    }

    #seccionArticulos{
       
        grid-template-columns: repeat(2,1fr);
    
    }

    .ordena{
        align-items: center;
    }

  }




@media only screen and (max-width: 675px) {
   


    .buscador{
        margin-top: 142px;
    }
}




@media only screen and (max-width: 370px) {
    
   
   
    

    .header{
        width: 100%;

    }

    .navegacion ul{
        margin-right: 10px;
        
    }

    .contenedorLogo{
        display: none;
    }

    .contenedorLogoAux{
        display: inline-block;
    }
    .contenedorLogoAux h1{
        font-size: 25px;
    }


    #seccionArticulos{
       
        grid-template-columns: 1fr;
    
    }

    .buscador{
        margin-top: 0;
        position: absolute;
        top: 100px;
        left: 20px;
    }

    .buscador i{
        left: 91%;
    }

    .buscador input{
        width: 156px;
    }

    .ordena{
        margin-left: 0;
        margin-top: 25px;
        text-align: center;
    }


    



}




@media only screen and (max-width: 580px) {


    .buscador{
        margin-top: 0;
        position: absolute;
        top: 100px;
        left: 20px;
    }

    

    .navegacion ul{
        margin-right: 15px;
        
    }


    #seccionArticulos{
       
        grid-template-columns: 1fr;
    
    }
}


@media only screen and (max-width: 580px){
    


    .pagos img{
        width: 150px;
    }
}

@media only screen and (max-width: 375px){
    
   

    .contenedorLogo{
        display: none;
    }

    .contenedorLogoAux{
        display: inline-block; 
    }

    .logo h1{
        font-size: 21px;
    }


    .buscador input{
        width: 170px;
    }

    .buscador i{
        left: 90%;
    }

    .pagos img{
        width: 120px;
    }


}

@media only screen and (max-width: 280px){

    .logo h1{
        font-size: 21px;
    }
    .buscador input{
        width: 100px;
    }

    .pagos img{
        width: 120px;
    }

    .redes li{
        font-size: 30px;
    }

    
}