
body{
    background-color: #f3f3f3;
}

#pago{
    display: flex;
    justify-content: center;
}

.formulario{
    display: block;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 400px;
    border-radius: 15px;
    border-radius: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #1b273d;
    color: rgb(228, 228, 228);
    margin-bottom: 15px;
}

.totalPagar{
    font-size: 20px;
    font-weight: 600;
}

.contenedorCampos{
    height: 60%;
}

.contenedor{
    margin: 5px 30%;
    font-size: 20px;
}

.contenedor input{
    padding: 3px;
    
}

.tituloFormaPago{
    font-size: 18px;
    
   
}
.formaPago{
    padding: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}





.botones{
    margin: 35px 0 0 10px;
    text-align: center;
}

.btn{
    padding: 5px 15px;
    border-style: none;
    text-decoration: none;
    border-radius: 4px;
}

.cancel {
    background-color:#9b4e4e ;
    color: white;
    
}
.comprar{
    background-color: #008ecc;
    color: white;
}

.detalleCompra{
    display: none;
    background-color: rgb(255, 255, 255);
    height: 550px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.headerDetalle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.tituloFactura{
    display: inline;
    margin-left: 190px;
}
.datosPersona{
    margin-left: 15px;
}
.datosFactura{
    margin-left: 90px;
}

.contenedorTabla{
    height: 55%;
}

#tabla{
    width: 100%;
    text-align: center;
    
}
th{
    border:1px solid black;
    background-color: grey;
    color: #f3f3f3;
    
}

.contenedorTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
 
}

.contenedorTotal .total{
    font-weight: 600;
}

.volverLocal{
    background-color: #008ecc;
    color: #f3f3f3;
}

/*responsive*/

@media only screen and (max-width:450px){

    #tabla{
        width: 100%;
        text-align: center;
        
    }
    .detalleCompra{
        height: 100vh;
        width: 100%;
        
        

    }

    #fecha{
        margin-right: 210px;
    }
}

@media only screen and (max-width:280px){

    /*formulario*/

    .tituloFormaPago{
        font-size: 13px;
    }

    .contenedor{
        margin: 5px 20%;
        font-size: 20px;
    }

    .btn{

        padding: 5px 10px;
        font-size: 11px;
        
    } 

    
   


    /*detalle compra*/
    .cabecera{
        display: flex;
        flex-direction: column;
    }
    .tituloFactura{
        font-size: 15px; 
    }
    
    .volverLocal{
        font-size: 15px;
    }
    
    .contenedorTotal .total{
        font-size: 12px;
        font-weight: 600;
    }
    


}