
body{
    background-color: rgb(6, 16, 29);
}

#pago{
    display: flex;
    justify-content: center;
}

.formulario{
    margin-top: 100px;
    background-color: rgb(103, 143, 230);
    height: 300px;
}
.contenedor{
  margin: 10px;
   
}

.botones{
    margin: 35px 0 0 10px;
}

.btn{
    padding: 5px 15px;
    border-style: none;
}

.cancel{
    background-color: #ff0000;
    color: white;
}
.comprar{
    background-color: green;
    color: white;
}